/*
  ##Device = small (sm)
  ##Screen Width = 576px 
*/
@media (min-width: 576px) and (max-width: 767px) {
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    border-top: 1px solid #00000010;
    padding: 8px;
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    display: none;
    visibility: hidden;
    content: '';
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    text-align: center;
    border: none;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li {
    padding: 8px;
    border-top: 1px solid #00000013;
  }
  .navbar .navbar-toggler {
    padding: .75rem;
    border: none;
  }
  .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .food-carousel .item {
    overflow: hidden;
  }
  .food-carousel .item .rate {
    padding: 8px 10px;
  }
  .food-carousel .item .rate::after {
    content: 'Tap to see details';
  }
  .food-carousel .item .item-title-para {
    bottom: -62%;
    padding: 5px;
    padding-top: 2rem;
  }
  .food-carousel .item .item-title-para h2 {
    font-size: 18px;
  }
  .food-carousel .item .item-title-para p {
    font-size: 11px;
  }
  .food-carousel .item:hover .rate::after {
    content: '';
  }
  .about-us .about-us-contents h2 {
    font-size: 32px;
    width: 80%;
  }
  .about-us .about-us-contents p {
    padding: 0px;
  }
  .about-us .about-us-inner img {
    width: 100%;
  }
  .food-carousel .owl-nav .owl-prev {
    margin-top: 170px;
    margin-left: 3%;
  }
  .food-carousel .owl-nav .owl-next {
    margin-top: 170px;
  }
  .contact .contact-left .fa-envelope {
    left: 44% !important;
  }
  .contact .contact-left .fa-phone {
    left: 44% !important;
  }
}

/*
  ##Device = Medium (md)
  ##Screen Width = 768px 
*/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    border-top: 1px solid #00000010;
    padding: 8px;
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    display: none;
    visibility: hidden;
    content: '';
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    text-align: center;
    border: none;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li {
    padding: 8px;
    border-top: 1px solid #00000013;
  }
  .navbar .navbar-toggler {
    padding: .75rem;
    border: none;
  }
  .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .food-carousel .item .rate {
    padding: 8px 10px;
  }
  .food-carousel .item .rate::after {
    content: 'Tap to see details';
  }
  .food-carousel .item .item-title-para {
    bottom: -65% !important;
  }
  .food-carousel .item:hover .item-title-para {
    bottom: 0% !important;
  }
  .contact .fa {
    left: 46% !important;
  }
}

/*
  ##Device = Large (lg)
  ##Screen Width = 992px 
*/
@media (min-width: 992px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 150% !important;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    margin-top: 0px;
  }
  .navbar-nav .dropdown a::after {
    content: '';
    visibility: hidden;
  }
  .navbar-nav .nav-item .nav-link {
    color: black;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: #FB5849;
  }
  .navbar-nav .nav-item .dropdown-menu {
    background: #f7f7f7;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    margin-top: 30%;
  }
  .navbar-nav .nav-item .dropdown-menu.fade-up {
    top: 115% !important;
    padding: 0px;
    width: 150%;
    border-radius: 0px;
    border: none;
    margin-left: 2rem;
  }
  .navbar-nav .nav-item .dropdown-menu.fade-up li {
    padding: 10px 20px;
    border-bottom: 1px solid #00000007;
    cursor: pointer;
    -webkit-transition-duration: .3s !important;
            transition-duration: .3s !important;
  }
  .navbar-nav .nav-item .dropdown-menu.fade-up li:hover {
    background: #fff;
  }
  .navbar-nav .nav-item .dropdown-menu.fade-up li:hover a {
    padding: 0px;
    padding-left: .25rem;
    color: #FB5849;
    background: #fff;
  }
  .navbar-nav .nav-item .dropdown-menu.fade-up li a {
    padding: 0px;
    color: black;
    background: #f7f7f7;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .navbar-nav .nav-item i {
    margin-left: 5px;
    font-size: 12px;
  }
}

/*
  ##Device = Extra large (xl)
  ##Screen Width = 1200px
*/
@media (min-width: 1200px) and (max-width: 1400px) {
  .dropdown {
    line-height: 23px !important;
  }
  .dropdown .dropdown-toggle {
    padding-top: 0px;
    margin-top: -5px;
  }
  .top-left-bg {
    height: 99.5%;
  }
  .food-carousel .item .rate {
    padding: 8px 10px;
  }
  .food-carousel .item .item-title-para {
    bottom: -59% !important;
  }
  .food-carousel .item:hover .item-title-para {
    bottom: 0% !important;
  }
  .footer-inner ul {
    text-align: right !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 575px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    border-top: 1px solid #00000010;
    padding: 8px;
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    display: none;
    visibility: hidden;
    content: '';
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    text-align: center;
    border: none;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li {
    padding: 8px;
    border-top: 1px solid #00000013;
  }
  .navbar .navbar-toggler {
    padding: 10px;
    border: none;
  }
  .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .owl-carousel .owl-nav .owl-prev .fa {
    padding: 5px 13px;
    font-size: 28px;
    margin-left: -240%;
  }
  .owl-carousel .owl-nav .owl-next .fa {
    padding: 5px 13px;
    font-size: 28px;
    margin-right: -310%;
  }
  .about-us .about-us-contents h2 {
    width: 80%;
  }
  .about-us .about-us-contents img {
    padding: 10px 0px;
  }
  .food-carousel .item .rate:after {
    content: 'Tap to see details';
  }
  .food-carousel .owl-carousel .owl-nav .owl-next {
    margin-right: 0px;
    margin-left: -35%;
  }
  .food-carousel .owl-carousel .owl-nav .owl-prev {
    margin-left: 25%;
  }
  .chef-intro .chef-intro-inner {
    margin: 5px 0px;
  }
  .contact .contact-inner .py {
    padding: 0px !important;
  }
  .tab-inner {
    position: relative;
    border-top: 1px solid #0000000a;
  }
  .tab-inner ul {
    display: inline !important;
    width: 100%;
  }
  .tab-inner ul li .price {
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .footer-inner .footer-logo {
    padding: 30px 0px;
  }
  .footer-inner .credits ul {
    text-align: center !important;
  }
}
/*# sourceMappingURL=media-query.css.map */